.container {
  display: flex;
  flex-direction: row; 
  width: 100%; 
  max-width: 1060px; 

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.liste-cv-container{
  flex: 1; 
}

.detail-cv-container{
  flex: 2; 
}

