

/* Conteneur global pour la liste et le titre */
.conteneur-liste {
    margin: 40px; /* Marge extérieure pour l'ensemble du bloc */
    padding: 20px; /* Espace intérieur optionnel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
    max-width: 1060px; 
    width: 100%;
    justify-content: center;
    align-items: center;

    display: flex;
  flex-direction: column; 
  width: 100%; 
  max-width: 1060px; 

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);

}

/* Styles pour le titre */
.titre-cvs {
    text-align: center;
    background-color: white;
    color: #4CAF50;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Espace entre le titre et la liste */
    
}

.titre-cvs h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Conteneur de la liste */
div.ngIfEmbauchers {
    background-color: rgba(255, 255, 255, 0.5); /* Fond semi-transparent */
    border-radius: 15px;
    padding: 20px;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ff7e5f, #feb47b);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* Styles pour chaque élément de la liste */
span.ngForEmbaucher {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Styles pour les images */
img {
    border-radius: 50%;
    object-fit: cover;
}

/* Styles pour le texte */
span.ngForEmbaucher > *:not(img) {
    font-weight: bold;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 1060px; 
  
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  }
  