<div>
    <div class="container">

      <div class="left">
        <div class="login">Login</div>
        <div class="eula"></div>
      </div>

      <div class="right">
        <form  #formulaire="ngForm">
          <div class="formdivs">
            <label for="email">Email</label>

            <input id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel name="email" class="form-control" required  #inputMail="ngModel">

            <div *ngIf="inputMail.invalid && inputMail.touched" class="alert alert-danger">Please enter a valid email address.</div>
          </div>
          
          <div class="formdivs">
            <label for="password">Password</label>
            <input id="password" minlength="4" type="password" ngModel name="password" class="form-control" required #pwdInput="ngModel">
            
            <div *ngIf="pwdInput.invalid && pwdInput.touched" class="alert alert-danger"> Please enter a valid Password. </div>
          </div>
        </form>

        <div class="button-container">
            <button [disabled]="formulaire.invalid"  class="btn btn-envoyer" id="submit"> Envoyer </button>
        </div>    
      </div>
    </div>
  </div>
  