.list-group-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.list-group-item:hover {
    transform: scale(1.1);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
